# Node
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
*.db

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Archives
*.zip

# Uploads
backend/uploads/receipts/*
